
@use '../util';

html {
    box-sizing: border-box;
    font-size: 100%;
    // overflow: hidden;
}
html, body {
  overflow-x: hidden;
//   overflow-y: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    // background-color: var(--background-color);
    color: var(--text-dark);
    font-family: util.$font-a;
    
}

