---
layout: layouts/base.njk
title: Home | Uniprix Investment
description: "Uniprix Investment offers professional construction, project management, interior design, and renovation services in Uganda."
permalink: /
activeNav: /
navNoShadow: true
showCtaCard: true
showCtaContact: true
---
{% include "pages/home.njk" %}
